.App {
  text-align: center;
}

#headerSegment{
  background-color: #204229;
}
.webcam{
  position: center;
  display: flex;
}

.leftBar{
  height: 100%;
  width: 300px;
  background-color: #275c35;
}
.timer{
  position: absolute;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-size: contain;
  background-position: center;
  background-image: url("https://media.discordapp.net/attachments/796276290981724210/797894608058449971/Desktop_-_9.png?width=949&height=675");;
  background-color: #2C2F33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}


.App-link {
  color: #61dafb;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  border-radius: 5px;
  padding: 0.5rem;
}

.modal {
  font-size: 20px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
